body{
    background: #f7f0e9;
    transition: .6s;
}
#container{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    display: none; 
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc ;
    border-radius: 34px;
    transition: .4s;
}
.slider::before{
   content: '';
   position: absolute;
   width: 26px;
   height: 26px;
   left: 4px;
   bottom: 4px;
   background: #fff;
   border-radius: 50%;
   transition: .4s; 
}
.dark-mode .slider{
    background: #0b0;
}
.input:checked + .slider{
    background: #b892ff;
}
input:checked + .slider::before{
    transform: translateX(26px);
}



.dark-mode {
    background: #0b0a14;
}
.dark-mode h1{
    color: #f7f0e9;
}
.dark-mode h2{
    color: #f7f0e9;
}
.dark-mode h3{
    color: #f7f0e9;
}
.dark-mode h4{
    color: #f7f0e9;
}
.dark-mode h5{
    color: #f7f0e9;
}
.dark-mode h6{
    color: #f7f0e9;
}
.dark-mode p{
    color: #f7f0e9;
}
.dark-mode a{
    color: #f7f0e9;
}



a{
    color: #0b0a14;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}



.container {
    width: 80%;
    margin: auto;
}